<h1> Tweet Detail Screen </h1>
<<<<<<< HEAD
<p>Content: <%= @twee.content %></p>
=======
<p>Conent: <%= @twee.content %></p>
>>>>>>> 7bced45a7c2ea725ad22c114babc786361e016e0
<p>Creation Date: <%= @twee.created_on %></p>
<%= link_to 'Return to Available Tweets', '/twees' %>